---
layout: page
title: Doações
---

<div class="container-donate">
    <div class="container">
        <p>Faça sua doação de apenas <code>2,00 R$</code> e concorra 50X mais .Os sorteios serão realizado todo dia 25 de cada mês. A cada 2 reais doado, você receberá um numero da sorte para concorrer.</p>

        <div class="text-center">
            <a class="btn" role="button" href="#" data-toggle="modal" data-target="#bitcoin-cash-modal"><img src="/img/Bipa.png" /><span>Pix</span></a>
            <a class="btn" role="button" href="#" data-toggle="modal" data-target="#bitcoin-modal"><img src="/img/Bitcoin.png" /><span>Bitcoin</span></a>
            <a class="btn" role="button" href="#" data-toggle="modal" data-target="#ethereum-modal"><img src="/img/Ethereum.png" /><span>Ethereum</span></a>
       </div>

       <div id="bitcoin-cash-modal" class="modal fade crypto-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Pix</h4>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <img class="crypto-qr" src="/img/Bipa_QR.png" />
                        <div class="card panel-default crypto-address">
                            <div class="card-body">729cc661-a7f7-413e-ba74-66d2dee55368</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div id="bitcoin-modal" class="modal fade crypto-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Bitcoin (BTC) address</h4>
                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center">
                            <img class="crypto-qr" src="/img/Bitcoin_QR.png" />
                            <div class="card panel-default crypto-address">
                                <div class="card-body">3HYwAmnTGkd9PhsFvr8zNsuiFPUCG1ywcw</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="ethereum-modal" class="modal fade crypto-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Ethereum (ETH)</h4>
                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center">
                            <img class="crypto-qr" src="/img/Ethereum_QR.png" />
                            <div class="card panel-default crypto-address">
                                <div class="card-body">0xD13705174De77E33f7A520aC6BfCcde2B452c277</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </div>
</div>

<div class="container-donate-2">
    <div class="container">
        <div class="patrons-panel">
            <h3>Vencedores</h3>
            <table class="table">
                <tr>
                    <th>Nome</th>
                    <th>Perfil</th>
                    <th>Valor</th>
                </tr>
                {% assign sortedDonators = site.data.donators | sort: "amount" | reverse %}
                {% for donator in sortedDonators %}
                <tr>
                    <td>{{ donator.name }}
                        {% if donator.twitter %}<a href="{{ donator.twitter }}"><i class="fab fa-twitter"></i></a>{% endif %}
                        {% if donator.facebook %}<a href="{{ donator.facebook }}"><i class="fab fa-facebook"></i></a>{% endif %}
                        {% if donator.github %}<a href="{{ donator.github }}"><i class="fab fa-github"></i></a>{% endif %}
                        {% if donator.twitch %}<a href="{{ donator.twitch }}"><i class="fab fa-twitch"></i></a>{% endif %}
                        {% if donator.youtube %}<a href="{{ donator.youtube }}"><i class="fab fa-youtube"></i></a>{% endif %}
                        {% if donator.linkedin %}<a href="{{ donator.linkedin }}"><i class="fab fa-linkedin"></i></a>{% endif %}
                        {% if donator.instagram %}<a href="{{ donator.instagram }}"><i class="fab fa-instagram"></i></a>{% endif %}
                        {% if donator.steam %}<a href="{{ donator.steam }}"><i class="fab fa-steam"></i></a>{% endif %}
                    </td>
                    <td>{% if donator.website %}<a href="{{ donator.website }}">{{ donator.website }}</a>{% endif %}</td>
                    <td>{% if donator.amount %}${{ donator.amount }}{% else %}*{% endif %}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% include common-js.html %}