---
layout: simple
---

<meta http-equiv="refresh" content="3" />
            </div>
                     <div class="container-donate-2">
                <table class="btn">
                    {% assign sortedDonators = site.data.vencedor | sort: "amount" | reverse %}
                    {% for donator in sortedDonators %}
                    <tr>
                        <td>{{ donator.name }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

    {% include common-js.html %}
<script src="/js/sharex.main.js"></script>
</body>
</html>