---
layout: simple
---

<script type="text/javascript">
    function Atualizar() {
        window.location.reload() ;
    }
    </script>
<center><head>
    <body onload="setInterval ('Atualizar()',1000)"
                     <div class="container-donate-2">
                <table class="btn button">
                    {% assign sortedDonators = site.data.vencedor | sort: "amount" | reverse %}
                    {% for donator in sortedDonators %}
                    <tr>
                        <td>{{ donator.name }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</center>
    {% include common-js.html %}
    <script src="/js/sharex.main.js"></script>